node_modules/
auth/
settings.json
.version.json
.backup/
package-lock.json
logo.img
.announce-next
bin/
agent-msg.txt
agent-msg.txt.sending
cookies.txt
proxies.cache.json
proxies.user.txt
antispam.json
